<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="list-group">
        <% todos.forEach((element)=>{ %>
        <a href="/getTodo/<%= element._id %>" class="list-group-item list-group-item-action list-group-item-info">
            <%= element.text %>
            <a style="color:red;" href="/deleteTodo/<%= element._id %>">X</a>
            <a style="color: brown" href="/set/<%= element._id %>">Change</a>
        </a>
        <% }) %>

    </div>

    <br><br>
    <a class="btn btn-primary" href="/new">New</a>
</body>

</html>