<!DOCTYPE html>
<html>

<head>
    <title>New Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <form action="/postTodo" method="POST">
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" name="text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>